body
{
	background-image: url('../img/body_img.png');
	font-size: 20px;
	margin: 0px;
	color: #fff;
	font-family: 'Chela One', cursive;
}
nav
{
	position: absolute;
	width: 100%;
}
#logo
{
	font-family: 'Righteous', cursive;
	text-align: center;
	width: 60%;
	height: 128px;
	margin: 10px auto 0px auto;
	padding: 12px;
	background-color: #1a0000;
	border: 8px double #e60000;
	border-radius: 50px;
}
#logo h1
{
	font-size: 260%;
	letter-spacing: 3px;
	word-spacing: 10px;
	line-height: 50px;
}
#logo span
{
	font-size: 80%;
	margin-right: 16%;
	padding: 2px;
	float: right;
	background-color: #2a0000;
}
#menu ul
{
	list-style-type: none;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	display: flex;
	background-color: #1a0000;
}
#menu ul li
{
	text-align: center;
	flex: 20%;
	padding: 10px;
	border: 1px solid #1a0000;
	border-left: 2px dashed #e60000;
	transition: background-color 1.2s;
	letter-spacing: 1px;
	text-transform: uppercase;
}
#menu ul li:first-child
{
	border: none;
	border: 1px solid #1a0000;
	padding: 10px 11px;
}
a 
{
	text-decoration: none;
	color: #fff;
	display: block;
}
#menu ul li:hover

{
	border: 1px solid #ffff00;
	background-color: #990000;
	padding-left: 11px;
	padding-top: 12px;
	border-radius: 1px;
}
#menu ul li:first-child:hover
{
	border: 1px solid #ffff00;
	background-color: #990000;
}
#main_container
{
	max-width: 1000px;
	width: 80%;
	min-height: 400px;
	margin: 70px auto 5px auto;
}
#result
{
	min-height: 400px;
	text-align: center;
	padding: 10px;
	width: calc(26% - 40px);
	display: inline-block;
	background-color: #1a0000;
	border: 4px solid #e60000;
	border-radius: 40px;
	margin-right: 10px;
	vertical-align: text-bottom;
	letter-spacing: 1px;
	color: #ffb3b3;
}
#result ul
{
	margin: 40px 0px;
	padding: 0px;
}
#result ul li
{
	list-style-type: none;
	margin-top: 10px;
}
#result span 
{
	color: #fff;
	font-size: 140%;
}
#game_container
{
	display: inline-block;
	width: 70%;
	min-height: 430px;
	vertical-align: text-bottom;
}
#start_container  /* new*/
{
	text-align: center;
	padding: 20px;
}
button#start
{
	background-color: #330000;
	color: #fff;
	margin-left: 6px;
	border-radius: 18px;
	border: 3px solid #660000;
	outline: none;
	padding: 10px;
	opacity: 0.8;
}
button#start:hover
{
	color: #ffd633;
	opacity: 1.0;
}
button#start:active
{
	background-color: #e60000;
	opacity: 1.0;
}
#game
{
	display: bolck;
}
.cards_0
{
	width: calc(20% - 10px);
	height: 100px;
	filter: contrast(115%);
	margin: 5px;
	opacity: 0.5;
	transition: opacity 1s, box-shadow 1s;
}
.cards_0:hover
{
	opacity: 1.0;
	box-shadow: 0 0 10px #737373, 0 0 10px #737373;
}
.cards_1
{
	background-image: url("../img/tło_karty.png");
	display: inline-block;
	text-align: center;
	line-height: 100px;
	border-radius: 16px;
	vertical-align: text-bottom;
	font-size: 200%;	
	max-width: 150px;
}
.cards_2
{
	width: calc(20% - 10px);
	height: 100px;
	filter: contrast(120%);
	margin: 3px 3px;
	border: 2px solid #e60000;
	opacity: 1.0;
}
footer
{
	text-align: center;
	font-size: 80%;
}
.koniec
{
	font-size: 130%;
	width: 100%;
	text-align: center;
}
#poka, #re_user_name
{
	background-color: #330000;
	color: #fff;
	margin-left: 6px;
	border-radius: 10px;
	border: 3px solid #660000;
	outline: none;
}
#poka:hover, #re_user_name:hover
{
	background-color: #550000;
}
input
{
	background-color: #330000;
	color: #fff;
	margin-left: 6px;
	border-radius: 2px;
	border: 2px solid #660000;
	width: 50%;
	outline: none;
}

/* Style tylko poniżej 900px rozdzielczości ekranu */
@media only screen and (max-width: 900px)
{
	#logo
	{
		width: 80%;
		padding: 10px;
		height: 110px;
	}
	#logo h1
	{
		font-size: 260%;
		letter-spacing: 3px;
		word-spacing: 10px;
		line-height: 31px;
	}
	#main_container
	{
		width: 80%;
		margin-top: 62px;
	}
	#result
	{
		min-height: 0px;
		margin: 10px auto;
		padding: 10px 0px;
		width: calc(100% - 8px);
		display: block;
	}
	#result ul
	{
		margin: 0px;
		padding: 0px;
	}
	#result ul li
	{
		list-style-type: none;
		display: inline-block;
		padding: 0px 14px;
		margin-top: 0px;
	}
	#game_container
	{
		width: 90%;
		display: block;
		margin: auto;
		min-height: 0px;
	}
	.cards_1
	{
		line-height: 90px;
		font-size: 180%;
	}	
	.cards_0
	{
		width: calc(20% - 6px);
		height: 90px;
		margin: 3px;
	}
	.cards_2
	{
		width: calc(20% - 6px);
		height: 90px;
		margin: 1px 1px;
	}
	input
	{
		width: 50px;
		margin: 0px;
		padding: 4px;
	}
}
/* Style tylko poniżej 600px rozdzielczości ekranu */
@media only screen and (max-width: 600px)
{
	#logo
	{
		width: 90%;
		padding: 5px;
		height: 100px;
	}
	#logo h1
	{
		word-spacing: 8px;
		line-height: 32px;
		font-size: 200%;
	}
	#main_container
	{
		width: 95%;
		margin-top: 88px;
	}
	#result ul li#frest
	{
		display: block;
		padding: 0px 17px;
	}
	#result ul li
	{
		list-style-type: none;
		display: inline-block;
		padding: 0px 10px;
	}
	#game_container
	{
		width: 100%;
	}
	.cards_1
	{
		font-size: 160%;
	}	
	input
	{
		padding: 2px;
	}
}