body
{
	background-color: #000;
	font-size: 20px;
	margin: 0px;
	color: #fff;
	font-family: 'Chela One', cursive;
}
#logo
{
	font-family: 'Righteous', cursive;
	text-align: center;
	width: 60%;
	margin: auto;
	padding: 20px;
	background-color: #1a0000;
	border: 8px double #e60000;
	border-radius: 50px;
}
#logo h1
{
	font-size: 300%;
	letter-spacing: 3px;
	word-spacing: 10px;
}
#logo span
{
	font-size: 80%;
	padding-right: 26%;
	float: right;
}
ul
{
	
	list-style-type: none;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	display: flex;
	background-color: #1a0000;
}
ul li
{
	text-align: center;
	flex: 20%;
	padding: 10px;
	border: 1px solid #1a0000;
	border-left: 2px dashed #e60000;
	transition: background-color 1.2s;
	letter-spacing: 1px;
	text-transform: uppercase;
}
ul li:first-child
{
	border: none;
	border: 1px solid #1a0000;
	padding: 10px 11px;
}
a 
{
	text-decoration: none;
	color: #fff;
	display: block;
}
ul li:hover

{
	border: 1px solid #ffff00;
	background-color: #990000;
	padding-left: 11px;
	padding-top: 12px;
	border-radius: 1px;
}
ul li:first-child:hover
{
	border: 1px solid #ffff00;
	background-color: #990000;
}
#main_container
{
	width: 80%;
	min-height: 400px;
	margin: 20px auto;
}
#result
{
	min-height: 390px;
	text-align: center;
	padding: 20px;
	width: calc(26% - 60px);
	display: inline-block;
	background-color: #1a0000;
	border: 4px solid #e60000;
	border-radius: 40px;
	vertical-align: text-bottom;
	margin: 0px 2%;
	letter-spacing: 1px;
}
#game_container
{
	width: 70%;
	display: inline-block;
}
.cards_0
{
	display: inline-block;
	width: calc(25% - 10px);
	height: 100px;
	background-image: url("../img/tło_karty.png");
	filter: contrast(115%);
	margin: 5px;
	text-align: center;
	line-height: 100px;
	border-radius: 16px;
	vertical-align: text-bottom;
	font-size: 200%;
	opacity: 0.5;
	transition: opacity 1s;
}
.cards_0:hover
{
	opacity: 1.0;
}
.cards_1
{
	background-image: url("../img/tło_karty.png");
}
.cards_2
{
	width: calc(25% - 14px);
	height: 96px;
	filter: contrast(120%);
	background-image: url("../img/tło_karty.png");
	margin: 3px 5px;
	border: 2px solid #e60000;
	opacity: 1.0;
}
footer
{
	text-align: center;
	font-size: 80%;
}
